<link href="/styles/uploadResource.css" rel="stylesheet" type="text/css" >

<article class="upload-resource">
  <form method="GET" action="/upload">
    <button class="hvr-grow">
      +
    </button>
  </form>
</article>
