<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link href="/styles/login.css" rel="stylesheet" type="text/css" />
    <link href="/styles/style.css" rel="stylesheet" type="text/css" />

    <title>Login</title>
  </head>
  <body>
    <%- include('./partials/_loginHeader') %>
    <section class="login">
      <h1>Login</h1>
      <form method="POST" action="/login">

        <input
          class="login-form"
          type="email"
          name="email"
          placeholder="example@email.com"
        />
        <button class="login-form" type="submit">Login</button>
      </form>
    </section>
  </body>
</html>
