<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Profile</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/profile.js"></script>

    <!-- CSS -->
    <link href="/styles/profile.css" rel="stylesheet" type="text/css" />
    <link href="/styles/style.css" rel="stylesheet" type="text/css" />

  </head>

  <body>
    <%- include('./partials/_header') %>
    <%- include('./partials/_uploadResource') %>

    <section class="profile">
      <h1>Profile</h1>
      <article class="edit-box">
        <h2>Edit your email</h2>
        <form id="update-email" action="/profile/email" method="POST">
          <input
            class="email-form"
            type="email"
            name="email"
            placeholder="example@email.com"
          />
          <button class="email-form" type="submit">Update</button>
        </form>
      </article>
      <article class="edit-box">
        <h2>Remove Topics</h2>
        <section class="remove">
          <%for (let topic of resource.topics) { %>
          <form class='remove-form' method="POST" action="/profile/<%=topic.id%>">
            <button class="remove-button" type="submit"><%= topic.name %>&nbsp;<span class="hvr-grow"id='x'>X</span></button>
          </form>
          <% } %>
        </section>
      </article>
    </section>
  </body>
</html>
